{% extends 'base.html.twig' %}

{% block title %}MODELE VEHICULE{% endblock %}

{% block body %}
<h1 class="text-center my-4">MODELES VOITURES<h1>
<div class="container mt-5 mb-2">
 
 </div>
<div class="container mb-5">
{# tet de colonne #}
    <table class="table table-dark">
    <thead>
        <tr>
            {# <th>id</th> #}
            <th>titre</th>
            <th>marque</th>
            <th>modele</th>
            <th>description</th>
            <th>photo</th>
            <th>prix_journalier</th>
            {# <th>date_enregistrement</th> #}
           
        </tr>
    </thead>
    <tbody> 
    {% for item in vehicule %}
    {# visualisation de tout les modeles #}
    <table class="mt-5 mb-2 border solid 3">
        <tr>
        {# <pre> #}
            {# {{ dump(item) }} #}
        {# </pre> #}
            {# <td>{{item.id }}</td> #}
            <td>{{item.titre }}</td>
            <td>{{item.marque}}</td>
            <td>{{item.modele}}</td>
            <td>{{item.description }}</td>
            <td>{{item.photo }}</td>
            <td>{{item.prixjournalier}}</td>
   
            <td>        
        </tr>
    {% endfor %}
    </tbody>
    
    </table>
    {% endblock %}